@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: rgb(0, 144, 254);
}

body {
    background-color:rgb(23, 34, 23);
    background-image: url("/images/background-image.png");
}

body h1,h2,p,li {
    transition: ease-out 0.1s;
}

body h1:hover,h2:hover,p:hover,li:hover {
    color: rgb(171, 255, 186);
}

.uplsim-text-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uplsim-text-h2 {
    text-align: center;
    margin: 0;
}

.white {
    color: white;
}

.indent {
    text-indent: 30px;
}

.padding {
    padding: 30px;
}

.font20px {
    font-size: 20px;
}

.font25px {
    font-size: 20px;
}

.lh0 {
    line-height: 0px;
}

.border {
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-radius: 10px;
    width: 500px;
    height: 110px;
}

.wiki-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-elements {
    display: flex;
    gap: 1em;
}

.wius {
    font-size: 30px;
}

.abit_lh {
    line-height: 4px;
}

.imageFix {
    align-items: center;
    display: flex;
}

table, th, td {
    border: 3px solid white;
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
}
th {
    width: 300px;
}