@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: rgb(0, 144, 254);
}

body p {
    width: 900px;
}

body {
    background-color:rgb(23, 34, 23);
    background-image: url("/upload_simulator/images/background-image.png");
    background-size: cover;
}

body h1,h2,p,li {
    transition: ease-out 0.1s;
}

body h1:hover,h2:hover,p:hover,li:hover {
    color: rgb(171, 255, 186);
}

.uplsim-text-h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.uplsim-text-h2{
    font-size: 3vw;
    align-items: center;
    justify-content: center;
  }

.white {
    color: rgb(255, 255, 255);
}

.indent {
    margin-left: 30px;
}

.padding {
    padding: 30px;
}

.mainPage{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.font20px {
    font-size: 20px;
}

.font25px {
    font-size: 20px;
}

.border {
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-radius: 8px;
    width: 22vw;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.wiki-elements-main-page {
    justify-content: center;
    display: flex;
    gap: 1em;
}

.wius {
    font-size: 30px;
}



.newImageFix {
  height: 5vw;
  width: 5vw;
}

table, th, td {
    border: 3px solid white;
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
}
th {
    width: 300px;
}


@media screen and (max-width: 800px) {
  .border {
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-radius: 8px;
    width: 450px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .uplsim-text-h2{
    font-size: 3vw;
    align-items: center;
    justify-content: center;
  }


  .newImageFix {
    height: 50px;
    width: 50px;
  }

  .font20px {
    font-size:15px;
  }

  .indent{
    margin-left: 15px;
  }
  
}