<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/upload_simulator/styles.css">
    <link rel="icon" href="/upload_simulator/images/upload_sim_logo.png">
    <title>Upload Simulator - English Wikipedia: Components</title>
</head>
<body>
    <h1 class="uplsim-text-h1 white"><img width="64" height="64" src="/upload_simulator/images/upload_sim_logo.png">Upload Simulator</h1>
    <h2 class="uplsim-text-h3 white">English Wikipedia: Components</h2>

    <a href="../"><h2 class="mainPage"><img class="newImageFix" src="/upload_simulator/images/wiki_close.png">Return to main page</h2></a>

    <h2 class="padding white imageFix">What are <img width="32" height="32" src="/upload_simulator/images/wiki_components.png">Components?</h2>
    <p class="white indent font20px">Components are one from the main game features. Each component is doing something, for example "Network Component" ( we will talk about component types later) increases your upload speed, "Storage" one increases size of the uploads.</p>
    <h2 class="padding white">Component Types</h2>
    <p class="white indent font20px">There are 4 main component types, unlocked by default:</p>
    <table class="white font20px indent">
        <tr>
          <th><div class="imageFix"><img src="/upload_simulator/images/wiki_network.png" width="32px" height="32px">Network Component</div></th>
          <th><div class="imageFix"><img src="/upload_simulator/images/wiki_storage.png" width="32px" height="32px">Storage Component</div></th>
          <th><div class="imageFix"><img src="/upload_simulator/images/wiki_cursor.png" width="32px" height="32px">Mining Cursor Component</div></th>
          <th><div class="imageFix"><img src="/upload_simulator/images/wiki_processor.png" width="32px" height="32px">Processor Component</div></th>
        </tr>
        <tr>
          <td>Increases upload speed what is needed to complete <a href="../uploads/">Uploads</a>.</td>
          <td>Increases size of the <a href="../uploads/">Uploads</a>, means it will give more reputation after completing and so on.</td>
          <td>Doubles credits from <a href="../mining/">Mining</a> feature.</td>
          <td>Increases maximum amount of <a href="../uploads/">Uploads</a> that can be uploaded at the same time.</td>
        </tr>
      </table> 

      <h2 class="padding white">Other Component Types</h2>
      <p class="white indent font20px">However there are 2 other component types that are NOT unlocked by default. You can unlock them manually in Laboratory via <a href="../research_points/">Research Points</a>.</p>
      <table class="white font20px indent">
        <tr>
          <th><div class="imageFix"><img src="/upload_simulator/images/wiki_manufactory.png" width="32px" height="32px">Manufactory Component</div></th>
          <th><div class="imageFix"><img src="/upload_simulator/images/wiki_overclocking.png" width="32px" height="32px">Overclocking Component</div></th>
        </tr>
        <tr>
          <td>To read what Manufactory component is doing, read <a href="../manufactory/">Manufactory Page</a>.</td>
          <td>To read what Overclocking component is doing, read <a href="../overclocking/">Overclocking Page</a>.</td>
        </tr>
      </table> 

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./main.js"></script>
</body>
</html>